#root {
    margin: 0 auto;
    text-align: left;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: black;
    border: 50px solid #C7C7C7;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    font-family: "Courier New", sans-serif;
    font-size: 12pt;
    font-weight: normal;
    color: lightgreen;
    width: 1024px;
    height: 600px;
    margin: 10px;
}

.display {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin: 5px;
}

.cardEntry {
    margin: 15px;
    text-align: center;
}

.header {
    margin-top: 10px;
    vertical-align: bottom;
}

button {
    padding: 3px;
    background-color: black;
    color: lightgreen;
    border-radius: 8px;
    border: 1px solid lightgreen;
}

button:hover {
    border-color: green;
}

input {
    padding: 3px;
    background-color: black;
    color: lightgreen;
    border-color: lightgreen;
    border-style:  solid;
}

a {
    color: cadetblue;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 2em;
    font-weight: normal;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 1.3em;
    font-weight: normal;
}

h3 {
    font-family: Arial, sans-serif;
    font-size: 1.1em;
    font-weight: normal;
}

p {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    font-weight: normal;
}

li {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    font-weight: normal;
}

td {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    font-weight: normal;
}